<div id="shoutout-boxset">
  <% @shouted_resto.each do |resto| %>
  <div class="shoutout-box">
    <div class="resto-shoutout-box">
      <div class="resto-info">
        <div class="resto-rewards">
          <i class="fa fa-trophy" aria-hidden="true"></i>
        </div>
        <div class="resto-name">
          <h3><%= resto.name %></h3>
        </div>
        <div class="resto-points">
          <p class="points-label">POINTS</p>
          <p class="points-number"><strong><%= resto.points(@user) %></strong></p>
        </div>
      </div>
    </div>
    <div class="tweet-shoutout-box">
      <% @shouts.each do |shout|%>
        <% if shout.restaurant_id == resto.id %>
        <div class="shout">
          <div class="shout-image">
            <%= image_tag(shout.shout_image.image_resize.url) %>
          </div>
          <div class="shout-info">
            <% unless shout.active %>
              <div class="passive">
                <p>This shout is no longer gaining points because the tweet has been deleted.</p>
              </div>
            <% end %>
            <p class="tweet-text">
              <%= shout.twitter_text %>
            </p>
            <p class="tweet-stats">
              <i class="fa fa-retweet" aria-hidden="true"></i>
              <%= shout.retweets %>
              <i class="fa fa-heart" aria-hidden="true"></i>
              <%= shout.favourites %>
              <i class="fa fa-trophy" aria-hidden="true"></i>
              <%= Shout.points(shout, @user) %>
            </p>
          </div>
        </div>
      <% end %>
    <% end %>
    </div>
  </div>
  <% end %>
</div>
