  <h1>Shoutouts for <%= @user.name %></h1>
<% @shouted_resto.each do |resto| %>

  <h3> <strong> <%= link_to resto.name, restaurant_path(resto.id) %> </strong> </h3>
  <p>Points at <%= resto.name %>: <strong><%= resto.points(@user) %></strong></p>
  <p>Points you've redeemed: <%= resto.redeemed_points(@user) %></p>

  <% @shouts.each do |shout|%>
    <% if shout.restaurant_id == resto.id %>

    <div class="shout">
      <p><%= link_to image_tag(shout.shout_image.image_resize.url), user_shout_path(current_user, shout) %></p>
      <p>Tweet: <%= shout.twitter_text %></p>
      <p><%= shout.retweets %> retweets and <%= shout.favourites %> likes/favorites.</p>
      <p>ShoutOut points you gained from <%= resto.name %>: <strong><%= Shout.points(shout, @user) %></strong> </p>
      <% unless shout.active %>
        <p>This shout was removed from twitter and stopped collecting points</p>
      <% end %>
    </div>
    <% end %>
  <% end %>
<% end %>
