<% if current_user %>
  <div class="modal rewards-modal">
    <div class="pending">
      <h3>Pending rewards</h3>
      <% @redemptions.each do |redemption| %>
        <% if !(redemption.redemption_status) %>
          <p><%= Reward.find(redemption.reward_id).name %> at <%= Restaurant.find(Reward.find(redemption.reward_id).restaurant_id).name %></p>
        <% end %>
      <% end %>
    </div>
    <div class="redeemed">
      <h3>Redeemed rewards</h3>
      <% @redemptions.each do |redemption| %>
        <% if redemption.redemption_status %>
          <p><%= Reward.find(redemption.reward_id).name %> at <%= Restaurant.find(Reward.find(redemption.reward_id).restaurant_id).name %></p>
        <% end %>
      <% end %>
    </div>
    <div class="close">X</div>
  </div>
<!-- This renders the shouts that were made by the user -->

  <% if current_user.shouts.empty? %>
    <h1 class="shoutouts-heading">You currently have no ShoutOuts.</h1>
  <% else %>
    <h1 class="shoutouts-heading">Your ShoutOuts</h1>
  <% end %>
    <%= render '/shouts/shouts' %>

<% end %>
