

<% @owned_restaurants.each do |restaurant| %>
    <div class="my-restaurant" id = '<%= restaurant.name.gsub(/\s+/, "") %>' >
      <h1><%=  restaurant.name %></h1>
      <div class="restaurant-img-container">
        <%= image_tag(restaurant.rest_img.image_resize.url) %>
      </div>
      <div class="restaurant-info-container">
        <h2><%= link_to restaurant.name, restaurant_path(restaurant) %></h2>
          <h2><%= restaurant.address %></h2>
            <h3>The users at this restaurant:</h3>

        <div id="redemptions-list">
          <% redemptions = Redemption.redeemable(restaurant) %>
            <% redemptions.each do |redemption| %>
              <div class="redemption-container">
                <div class="redemption-user">
                  <p><%= User.find(redemption.user_id).name %> wants to redeem the following reward:</p>
                </div>
                <div class="redemption-reward">
                  <p><%= Reward.find(redemption.reward_id).name %> <%= Reward.find(redemption.reward_id).point_value %></p>
                </div>
                  <p class = "redemption-button"><%= button_to "Redeem", { controller: "users", action: "change_redemption_status", :redemption_id => redemption.id }, method: :post %></p>
              </div>
            <% end %>
        </div>
      </div>
    </div>
<% end %>
