

<h3>The users at this restaurant:</h3>
  <% @owned_restaurants.each do |restaurant| %>
  <div class="my-restaurant" id = '<%= restaurant.name.gsub(/\s+/, "") %>'  >
      <div id="redemptions-list-<%= restaurant.id %>">
        <% Redemption.redeemable(restaurant) %>
        <% redemptions = Redemption.redeemable(restaurant) %>
        <% redemptions.each do |redemption| %>
        <div class="redemption-container">
          <div class="redemption-user">
            <p><%= User.find(redemption.user_id).name %> wants to redeem the following reward:</p>
          </div>
          <div class="redemption-reward">
            <p><%= Reward.find(redemption.reward_id).name %> <%= Reward.find(redemption.reward_id).point_value %></p>
          </div>
          <p class = "redemption-button"><%= button_to "Redeem", { controller: "users", action: "change_redemption_status", :redemption_id => redemption.id }, method: :post %></p>
        </div>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
