<h1>My Restaurants</h1>

<% @owned_restaurants.each do |restaurant| %>
<%= image_tag(restaurant.rest_img.image_resize.url) %>
  <h2><%= link_to restaurant.name, restaurant_path(restaurant) %></p>
  <h2><%= restaurant.address %></p>
  <h3>The users at this restaurant:</h3>
  <% redemptions = Redemption.redeemable(restaurant) %>
  <% redemptions.each do |redemption| %>
    <p><%= User.find(redemption.user_id).name %> wants to redeem the following reward:</p>
    <p><%= Reward.find(redemption.reward_id).name %> <%= Reward.find(redemption.reward_id).point_value %></p>
    <p><%= button_to "Redeem", { controller: "users", action: "change_redemption_status", :redemption_id => redemption.id }, method: :post %></p>
  <% end %>

<% end %>
