<div class="pending">
  <h3>Pending rewards</h3>
  <% @redemptions.each do |redemption| %>
    <% if !(redemption.redemption_status) %>
      <p><em>Pending reward</em>: <%= Reward.find(redemption.reward_id).name %> at <%= Restaurant.find(Reward.find(redemption.reward_id).restaurant_id).name %></p>
    <% end %>
  <% end %>
</div>
<div class="redeemed">
  <h3>Redeemed rewards</h3>
  <% @redemptions.each do |redemption| %>
    <% if redemption.redemption_status %>
      <p><em>Redeemed reward</em>: <%= Reward.find(redemption.reward_id).name %> at <%= Restaurant.find(Reward.find(redemption.reward_id).restaurant_id).name %></p>
    <% end %>
  <% end %>
</div>

<button id="call-shout-modal">Make a Shout!</button>

<!-- This renders the shout form to make a shout out-->
<div class="modal">
  <%= render '/shouts/form' %>
</div>

<!-- This renders the shouts that were made by the user -->
<h1>Shoutouts for <%= @user.name %></h1>
  <%= render '/shouts/shouts' %>
