<h1><%= @user.first_name %> <%= @user.last_name %></h1>
<p><%= @user.email %></p>
<%= image_tag @user.avatar.profile.url %><br>



<div class="pending">
  <h3>Pending rewards</h3>
  <% @redemptions.each do |redemption| %>
    <% if !(redemption.redemption_status) %>
      <p><em>Pending reward</em>: <%= Reward.find(redemption.reward_id).name %> at <%= Restaurant.find(Reward.find(redemption.reward_id).restaurant_id).name %></p>
    <% end %>
  <% end %>
</div>
<div class="redeemed">
  <h3>Redeemed rewards</h3>
  <% @redemptions.each do |redemption| %>
    <% if redemption.redemption_status %>
      <p><em>Redeemed reward</em>: <%= Reward.find(redemption.reward_id).name %> at <%= Restaurant.find(Reward.find(redemption.reward_id).restaurant_id).name %></p>
    <% end %>
  <% end %>
</div>


<%= render '/shouts/form' %>
<%= render '/shouts/shouts' %>
