<h1><%= @user.first_name %> <%= @user.last_name %></h1>
<p><%= @user.email %></p>
<%= image_tag @user.avatar.profile.url %><br>

<p>Pending rewards:</p>


<% @user.redemptions.each do |redemption| %>
  <% if !(redemption.redemption_status) %>
    <p><em>Pending reward</em>: <%= Reward.find(redemption.reward_id).name %> at <%= Restaurant.find(Reward.find(redemption.reward_id).restaurant_id).name %></p>
  <% else %>
    <p><em>Redeemed reward</em>: <%= Reward.find(redemption.reward_id).name %> at <%= Restaurant.find(Reward.find(redemption.reward_id).restaurant_id).name %></p>
  <% end %>
<% end %>


<%= render '/shouts/form' %>
<%= render '/shouts/shouts' %>
