<h1>Restaurant Form</h1>

<%= form_for(@restaurant, html: {multipart: true}) do |f| %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number %>
  </div>

  <div class="field">
    <%= f.label :rest_image %>
    <%= f.text_field :rest_image %>
  </div>
  <h2>Rewards</h2>
  <%= fields_for :rewards do |r| %>
    <%= render 'reward_fields', :f => r %>
  <% end %>

  <div>
    <%= link_to_add_association 'Add Reward', f, :rewards %>
  </div>
  <%= f.submit %>
<% end %>
