  <h1><%= @restaurant.name %></h1>

  <img src ="<%= @restaurant.rest_image %>">

  <div class="field points-remaining">
    <p> Remaining ShoutOut points: <strong><%= @points %></strong>. </p>
  </div>

  <div class="field redeem-button">
    <%= form_tag "/users/#{current_user.id}" %>
    <%= label_tag "Redeemable rewards" %><br>
    <%= select_tag "reward_id", options_for_select(@rewards_array) %><br>
    <%= submit_tag "REDEEM IT!" %>
  </div>

  <% @restaurant.rewards.each do |reward| %>
    <p> <strong><%= reward.name %></strong>  </p>
    <p>Description: <%= reward.description %></p>
    <p>Point Value: <%= reward.point_value %></p>
    <%= link_to "Show Reward", edit_restaurant_reward_path(@restaurant, reward.id) %>
  <% end %>
