<!DOCTYPE html>
<html>
  <head>
    <title>Shoutout</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Boogaloo|Didact+Gothic|Passion+One:700" rel="stylesheet">
  </head>

  <body>
    <%# if @do_not_show_header %>
      <% if current_user %>
        <nav>
          <div id="logo"><%= link_to "ShoutOut!", user_path(current_user) %></div>
          <!-- <div class="twitter-profile"> -->
            <%= image_tag current_user.profile_image, class: "avatar" %><p>Signed in as <%= current_user.name %></p>
          <!-- </div> -->
          <!-- <div class="logout"> -->
          <% if !current_user.owned_restaurants.empty? %>
            | <%= link_to "My restaurants", my_restaurants_path %>
          <% end %>
            | <%= link_to ' Log Out ', :logout, method: :post %>
          <!-- </div> -->
        </nav>
        <%=  link_to "Add a restaurant", new_restaurant_path %>
      <% end %>
    <%# end %>

    <% if flash.any? %>
      <div class="flash">
        <% flash.each do |k, v| %>
          <%= v %><br>
        <% end %>
      </div>
    <% end %>
    <div class="shell">
      <%= yield %>
    </div>
  </body>
</html>
