<!DOCTYPE html>
<html>
  <head>
    <title>Shoutout</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Dosis|Nunito" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Boogaloo|Didact+Gothic|Passion+One:700" rel="stylesheet">
  </head>

  <body>
    <% if current_user %>
        <nav>
          <a href="/">
            <div id="logo">
              <%= image_tag "bullhorn.png" %>
            </div>
          </a>
          <%= image_tag current_user.profile_image, id: "avatar" %> | <%= link_to ' Log Out ', :logout, method: :post %>
        </nav>
        <!-- THIS IS THE DROPDOWN FOR MOBILE VIEW. -->
        <div class="dropdown">
          <div class="dropdown-button">
            <i class="fa fa-trophy"></i>
            <small>Rewards</small>
          </div>
          <div class="dropdown-button">
            <i class="fa fa-search"></i>
            <small>Restaurants</small>
          </div>
        </div>

        <!-- DESKTOP VIEW IS TO MAKE THE VIEW ADAPT TO THE WIDE MONITOR -->
        <div class="desktop-view">

          <%= render "users/left-sidebar" %>

          <div class="shell">
            <%= yield %>
            <div id="shout-modal-call-button">
              <%= image_tag "shout1.png", id: "shout-call-static" %>
              <%= image_tag "shout3.png", id: "shout-call-hover" %>
              <div id="shout-modal-call-button-outline"></div>
            </div>
          </div>

          <div class="right-sidebar">
            <!-- <div class="right-sidebar-logo-container"></div> -->
            <div class="menu-structure">
              <div class="menu-item">My Profile</div>
              <div class="menu-item">My Rewards</div>
              <div class="menu-item">Search Restaurants</div>
              <div class="menu-item">My Restaurants</div>
              <div class="menu-item">About Us</div>
              <div class="menu-item">About PAIR</div>
              <div class="menu-item">About Bence Kiss</div>
            </div>
          </div>
      <% end %>
    </div>
    <footer class="footer">
      <p>&copy 2017 PAIR</p>
    </footer>
  </body>
</html>
