<!DOCTYPE html>
<html>
 <head>
   <title>Shoutout</title>
   <%= csrf_meta_tags %>

   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   <script type="text/javascript"></script>
   <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link href="https://fonts.googleapis.com/css?family=Dosis|Nunito" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Boogaloo|Didact+Gothic|Passion+One:700" rel="stylesheet">
 </head>

 <body>
   <% if current_user %>
     <nav>
       <a href="/">
         <div id="logo">
           <%= image_tag "bullhorn.png" %>
         </div>
       </a>
       <%= image_tag current_user.profile_image, id: "avatar" %> | <%= link_to ' Log Out ', :logout, method: :post %>
     </nav>
     <!-- THIS IS THE DROPDOWN FOR MOBILE VIEW. -->
     <div class="dropdown">
       <div class="dropdown-button">
         <i class="fa fa-trophy"></i>
         <%= link_to "Rewards", root_path %>
       </div>
       <div class="dropdown-button">
         <i class="fa fa-search"></i>
         <%= link_to "Restaurants", restaurants_path %>
       </div>
     </div>
   <% end %>

       <!-- DESKTOP VIEW IS TO MAKE THE VIEW ADAPT TO THE WIDE MONITOR -->
       <% if current_user %>

         <div class="desktop-view">
           <%= render "users/left-sidebar" %>

           <div class="shell">
             <% if params[:controller]== "restaurants" && params[:id] && params[:action] != "my_restaurants"  %>
               <% if params[:controller] == "restaurants" && params[:id] %>
                 <div class="modal shout-modal">
                   <%= render '/shouts/resto_shout' %>
                 </div>
               <% else %>
                 <div class="modal shout-modal">
                   <%= render '/shouts/form' %>
                 </div>
               <% end %>
               <div id="shout-modal-call-button">
                 <%= image_tag "shout1.png", id: "shout-call-static" %>
                 <%= image_tag "shout3.png", id: "shout-call-hover" %>
                 <div id="shout-modal-call-button-outline"></div>
               </div>
             <% end %>
             <%= yield %>
           </div>

           <%= render "users/right-sidebar" %>

         </div>
       <% end %>



   <!-- HEADER LOGO -->
   <% unless current_user %>
     <div class="shell">
       <a href="/auth/twitter">
         <div id="logo-button">
           <%= image_tag "shout1.png", id: "shout-static" %>
           <%= image_tag "shout2.png", id: "shout-hover" %>
         </div>
       </a>
       <div class="blurb">
         <h2 id="title">ShoutOut!</h2>
         <p>Raise the volume on your tweets! <i class="fa fa-twitter"></i></p>
       </div>
     </div>
   <% end %>
   <footer class="footer">
     <p>&copy 2017 PAIR</p>
   </footer>
 </body>
</html>
